/* Importing Google fonts */

@import url("https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap");

/* Importing all components file */
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

/* General style ryles for fonts and colours */

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px; 
	background-color: #F2D3CC;
	margin: 0px;  
}
h1, h2, h3 {
	font-family: 'Merriweather', serif;
	font-weight: bold; 
}

a {
	text-decoration: none; 
}

